body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}


/*style index*/
/*.site_title {
    position: absolute;
    top: 300px;
    left: 15%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;

}
.site_title h1{
    font-size: 80px;
    color: white;
    margin: 0px;
    margin-left: 10px;
    margin-right: 200px;
    text-align: center;

}
.site_title p{
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 0px;
    letter-spacing: 6px;
    margin-top: 10px;

}*/

.banner img{
    width: 1280px;
    height: 500px;
    margin: auto;
    animation: phongTo 10s forwards;
    position: relative;
}

.site_title h1 {
    width: 1000px;
    height: 50px;
    padding: 5px 10px;
    text-align: center;
   
    color: white;
    position: absolute;
    z-index: 3;
    padding: 250px 50px;
    letter-spacing: 3px;
    margin-top: -25px;
   
    font-size: 60px;
    font-family: Tahoma;
    animation: chuChay 4s forwards;
    animation-delay: 3s;
    opacity: 0;
}
.site_title p {
    width: 1000px;
    z-index: 3;
    color: white;
    position: absolute;
    font-size: 30px;
    text-align: center;
    letter-spacing: 6px;
    padding: 350px 50px;
    left: 170px;
    
    
}

@-webkit-keyframes phongTo {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1.0);
    }
}

@-webkit-keyframes chuChay {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
        margin-left: 170px;
    }
}

.black-cover {
    position: absolute;
    top: 71px;
    left: 0;
    right: 0;
    z-index: 2;
    bottom: -50px;
    background: rgba(0, 0, 0, 0.4);
   
}
.black-cover-second {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}


.footer .fab{
    font-size: 30px;
    padding: 10px;
}

.about-hue{
    font-family: Tahoma;
    letter-spacing: 2px;
    margin-bottom: 100px!important;
}
.about-hue h4, .popular-destination h4 {
    font-weight: 300;
    color: blue;
}
.about-hue h1, .popular-destination h1 {
    font-weight: 600;
    color: darkblue;
}
.about-hue img{
    width: 90%;
    height: 550px;
    border: 1px solid grey;
}
.about-hue img:hover {
    box-sizing: border-box;
    overflow: hidden;
    transition: 1s;
    transform: scale(1.1);

}

.banner img {
    height: 600px;
}

.first-popular {
    font-weight: 900;
    color: white;
}
.first-popular img {
    height: 235px;
    width: 100%;
}
.first-popular .hover{
    position: absolute;
    bottom: 30px;
    left: 60px;
   
}
.first-popular .wrapper:hover {
    background-image: -webkit-linear-gradient(grey 1%);
    height: 100%;
    opacity: 0.3;
    z-index: 3;       
    color: red;
}
.first-popular .wrapper{
   display: inline-block;
   width: 24%;
   margin: 4px;
}
.first-popular .wrapper:first-child{
    width: 49%;
}
.first-popular:last-child .wrapper:last-child {
    width: 49%;
}
 
.first-popular:last-child .wrapper:first-child {
    width: 24%;
}

.first-popular a {
   color: white;
   font-weight: 600;
}

.card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.trip {
    position: absolute;
    background-image: url('/Content/images/colau.jpg');
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    font-family: Tahoma;
}
.trip .object-fit-cover {
    height: 300px;
}
.object-fit-cover {
    object-fit: cover;
}

.trip p, h4 {
    letter-spacing: 3px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.footer img{
    width: 90px;
    height: 50px;
    border: solid;
}
.footer .contact {
    font-size: 13px;
}

/*Style Login*/

.navbar-nav li a {
    color: #fff;
    font-weight: 600;
}


/*Style file Contact*/
.text-center h2{
    font-size: 48px;
    line-height: 60px;
}

.text-center h6{
    color: #494949;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 18px;
}
.layer-contact .form {
    margin-top: 30px;
}
.layer-contact .img-fluid{
    height: 380px;
}

/*Style file Post*/
.banner-item img {
    height: 450px;
}

.card-post {
    width: 30%;
    margin-right: 25px;
    margin-bottom: 25px;
}
.card-post img{
    height: 200px;
    width: 92%;
    overflow: hidden;
}
    .card-post:hover {
        transform: scale(1.1);
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.2);
    }


.post .body-content .banner-item .black-cover {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 104px;
    background: rgba(0, 0, 0, 0.4);
}

.post .banner-item .site_title h1 {
    font-size: 60px;
    color: white;
    text-align: center; 
    /* margin-top: -200px; */
    margin-left: 10px;
    margin-right: 200px;
    font-weight: 600;
    top: 130px;
}

.post .banner-item .site_title a {
    font-size: 20px;
    color: white;
    /* text-align: center; */
    /* margin-top: -200px; */
    margin-left: 330px;
    font-weight: 600;
}

.form-post strong{
    color: red;
}

.tour-related-img{
    height: 80px!important;
}
/* Style TravelTour*/

.travelTour .tour #place .img-fluid {
    max-width: 100%;
    height: 110px;
    border-radius: 10px;
}
.travelTour .tour-related-img {
    width: 100%;
    height: 65px;
}

.place-related strong{
    font-weight: 600;
}

.day-la-class-custom {
    width: 100%;
    height: 65px;
    color: #ffffff;
    font-size: 1.2rem;
}

.shadow{
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2)
}
.shadow-sm {
    box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.5)
}

.place-related img{
    width: 100%;
    height: 150px;
}
/*Style Post Detail*/
.banner-post {
    height: 450px;
    position: relative;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.black-cover-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
}

.title-post {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0 20%;
    text-align: center;
}

.wrapper div{
    padding: 10px;
    margin: 10px;
    display: inline;
    justify-content: center;
    box-shadow: none;
    
}
/*.wrapper div:nth-child(1) {
    display: inline;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 40%;
    color: yellow;
}
.wrapper div:nth-child(2) {
   display: inline;
   width: 20%;
}
.wrapper div:nth-child(3) {
   
}
.wrapper div:nth-child(4) {
  
    
}*/


/*style Left layout*/



.leftLayout img {
    /* margin: 5px; */
    width: 100%;
    height: 100%;
    /* border: 5px solid #eeeff4;*/
}
.leftLayout {
    color: dimgray;
    /* text-align: justify; */
    font-weight: 500;
    padding: 16px 0;
    border-bottom: 1px solid #eee;
}

.food-left img {
    height: 120px;
    width: 100px;
    border: 5px solid white;
    margin: 17px;
}


.style-item {
      color: white;
}
.style-item:nth-child(2n){
    margin-right: 0;
}

.password .m-5.border.bg-white.w-50 {
    position: absolute;
    top: 150px;
    left: 100px;
}



/*Style login*/
    .login {
    background-color: grey;
    padding: 80px 15%;
}
/*#loginForm{
    margin: 5px;

}*/
#loginForm h4 {
    letter-spacing: 0px;
}
section#loginForm {
    background: white;
    /* border-radius: 5px; */
    padding: 40px;
    margin-left: 0;
    height: 100%;
}

.login .col-lg-6 {
    padding: 1px;
}
.login img{
    height: 445px;
}
.resigter {
    padding: 30px;
}
.img-register img {
    height: 488px;
    width: 440px;
}


/*Style Tour Details*/
.tour-details-img img{
    width: 100%;
    height: 335px;
    margin-top: 10px;
}



