@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
.title-banner-item a{
    color: white;   
}

.banner img {
    width: 1280px;
    height: 500px;
    margin: auto;
    animation: phongTo 2s forwards;
    position: relative;
}

.site_title h1 {
    width: 1000px;
    height: 50px;
    padding: 5px 10px;
    text-align: center;
    color: white;
    position: absolute;
    z-index: 3;
    padding: 250px 50px;
    letter-spacing: 3px;
   
    font-family: inherit;
    animation: chuChay 2s forwards;
    animation-delay: 1s;
    opacity: 0;
    font-weight: 600;
    text-transform: uppercase;

    font-size: 58px;
    font-weight: 700;
    line-height: 72px;
    margin-bottom: 44px;
    letter-spacing: 4px;
    font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.site_title p {
    width: 1000px;
    z-index: 3;
    color: white;
    position: absolute;
    font-size: 30px;
    text-align: center;
    
    padding-top: 350px;
    padding-left: 50px;
    left: 170px;

    
    
}

@-webkit-keyframes phongTo {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1.0);
    }
}

@-webkit-keyframes chuChay {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
        margin-left: 170px;
    }
}

/*.black-cover {
    position: absolute;
    top: 71px;
    left: 0;
    right: 0;
    z-index: 2;
    bottom: -50px;
    background: rgba(0, 0, 0, 0.4);
   
}*/
.black-cover-second {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}


.footer .fab{
    font-size: 30px;
    padding: 10px;
}

.about-hue{
    font-family: Tahoma;
    letter-spacing: 2px;
    margin-bottom: 100px!important;
}
    .about-hue h4, .popular-destination h4 {
        font-weight: 500;
        color: #9f5b5b;
    }
    .about-hue h1, .popular-destination h1 {
        font-weight: 600;
        color: #262663;
    }
.about-hue img{
    width: 90%;
    height: 550px;
   
}
.about-hue img:hover {
    box-sizing: border-box;
    overflow: hidden;
    transition: 1s;
    transform: scale(1.1);

}

.banner img {
    height: 600px;
}

.first-popular .grid{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}
.first-popular .grid:last-child {
    grid-template-columns: 1fr 1fr 2fr;
}
.first-popular .grid .info {
    position: absolute;
    bottom: 32px;
    left: 32px;
    right: 32px;
    z-index: 1;
}

.grid .wrapper {
    margin: 8px;
    height: 235px;
    position: relative;
    font-weight: 400;
    text-shadow: 0 4px 4px rgba(0,0,0,0.4);
}

.grid .wrapper img {
    height: 100%;
    width: 100%;
}

.grid .wrapper::after{
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.25);
}

.grid .info p {
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #ededed;
    font-weight: 500;
}
.grid .info .price{
    color: #f8e337;
}
.grid .info .price span{
    font-size: 16px;
    font-weight: 700;
}

.grid .info a {
    color: white;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    margin: 6px 0;
    display: inline-block;
}

.grid .info a:hover {
    color: #efefef;
    text-decoration:none;
}

.card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.trip {
    position: absolute;
    background-image: url('/Content/images/colau.jpg');
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    font-family: Tahoma;
}
.trip .object-fit-cover {
    height: 300px;
}
.object-fit-cover {
    object-fit: cover;
}

.trip p, .trip h4 {
    letter-spacing: 3px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.footer img{
    width: 90px;
    height: 50px;
   
}
.footer .contact {
    font-size: 13px;
}

/*Style Login*/

.navbar-nav li a {
    color: #fff;
    font-weight: 600;
}


/*Style file Contact*/
.text-center h2{
    font-size: 48px;
    line-height: 60px;
}

.text-center h6{
    color: #494949;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 18px;
}
.layer-contact .form {
    margin-top: 30px;
}
.layer-contact .img-fluid{
    height: 380px;
}

/*Style file Post*/
.banner-item img {
    height: 450px;
}

.card-post {
    width: 30%;
    margin-right: 25px;
    margin-bottom: 25px;
}
.card-post img{
    height: 200px;
    width: 92%;
    overflow: hidden;
}
    .card-post:hover {
        transform: scale(1.1);
        overflow: hidden;
       
        transition: 1s;
    }


.black-cover {
    position: absolute;
    top: 85px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 600px;
    z-index: 1;
}

.post .banner-item .site_title h1 {
    font-size: 60px;
    color: white;
    text-align: center; 
    /* margin-top: -200px; */
    margin-left: 10px;
    margin-right: 200px;
    font-weight: 600;
    top: 130px;
}

.post .banner-item .site_title a {
    font-size: 20px;
    color: white;
    /* text-align: center; */
    /* margin-top: -200px; */
    margin-left: 330px;
    font-weight: 600;
}

.form-post strong{
    color: red;
}

.tour-related-img{
    height: 80px!important;
}
/* Style TravelTour*/

.travelTour .tour #place .img-fluid {
    max-width: 100%;
    height: 110px;
    border-radius: 10px;
}
.travelTour .tour-related-img {
    width: 100%;
    height: 65px;
}

.place-related strong{
    font-weight: 600;
}

.day-la-class-custom {
    width: 100%;
    height: 65px;
    color: #ffffff;
    font-size: 1.2rem;
}

.shadow{
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2)
}
.shadow-sm {
    box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.5)
}

.place-related img{
    width: 100%;
    height: 150px;
}
/*Style Post Detail*/
.banner-post {
    height: 450px;
    position: relative;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.black-cover-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
}

.title-post {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0 20%;
    text-align: center;
}

/*.wrapper div:nth-child(1) {
    display: inline;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 40%;
    color: yellow;
}
.wrapper div:nth-child(2) {
   display: inline;
   width: 20%;
}
.wrapper div:nth-child(3) {
   
}
.wrapper div:nth-child(4) {
  
    
}*/


/*style Left layout*/


.search input.form-control {
    margin-right: 6px;
    width: 66%;
}
.search button:hover {
    background: #ccc;
}


.leftLayout img {
    /* margin: 5px; */
    width: 100%;
    height: 100%;
    /* border: 5px solid #eeeff4;*/
}
.leftLayout {
    color: dimgray;
    /* text-align: justify; */
    font-weight: 500;
    padding: 16px 0;
    border-bottom: 1px solid #eee;
}

.food-left img {
    height: 120px;
    width: 100px;
    border: 5px solid white;
    margin: 17px;
}


.style-item {
      color: white;
}
.style-item:nth-child(2n){
    margin-right: 0;
}

.password .m-5.border.bg-white.w-50 {
    position: absolute;
    top: 150px;
    left: 100px;
}



/*Style login*/
    .login {
    background-color: grey;
    padding: 80px 15%;
}
/*#loginForm{
    margin: 5px;

}*/

#loginForm a {
    color: #67696b;
}

section#loginForm {
    background: white;
    /* border-radius: 5px; */
    padding: 40px;
    margin-left: 0;
    height: 100%;
}

.login .col-lg-6 {
    padding: 1px;
}
.login img{
    height: 445px;
}
.resigter {
    padding: 30px;
}
.img-register img {
    height: 488px;
    width: 440px;
}

.register-item {
    color: #484848;
}
.forgotPass {
   
    color: #6e6e6e;
    margin-bottom: 0;
}
/*Style Tour Details*/
.tour-details-img img {
    width: 100%;
    height: 335px;
    margin-top: 10px;
}


.food-leftlayout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 160px;
}


.tour-item {
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 12px 3px rgba(0,0,0,0.3);
    margin: 8px;
}

.tour-item img{
    height: 360px;
    width: 100%;
    object-fit:cover;
}
.tour-info{
    padding: 16px;
}

.tour-info > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tour-item .tour-info h3{
    font-weight: 600;
    font-size: 18px;
}
.tour-item .tour-info a:hover {
    text-decoration: none;
}

.card-header.accordion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/*style footer */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");

html,
body,
#mainNav .navbar-toggler,
#mainNav .navbar-nav .nav-item .nav-link {
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.05rem;
}

:focus {
    outline: none;
}

.masthead,
.masthead > div,
#callAction,
#callAction > div {
    position: relative;
}

.mask-cover {
    z-index: 0;
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#mainNav {
    background-color: transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

    #mainNav .navbar-toggler {
        font-size: 12px;
        right: 0;
        padding: 13px;
        text-transform: uppercase;
        color: #fff;
        border: 0;
        background-color: var(--primary);
        font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        font-weight: 700;
        font-size: 12px;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: #fff;
        cursor: pointer;
        font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
        border-top: 2px solid transparent;
        border-bottom: 1px solid transparent;
        margin-top: -1px;
        position: relative;
    }

        #mainNav .navbar-nav .nav-item .nav-link.cart span {
            position: absolute;
            top: 24px;
            right: 12px;
            display: inline-block;
            font-size: 10px;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            background-color: var(--primary);
        }

        #mainNav .navbar-nav .nav-item .nav-link.active,
        #mainNav .navbar-nav .nav-item .nav-link:hover {
            border-top-color: var(--primary);
        }

@media (min-width: 992px) {
    #mainNav {
        transition: padding-top 0.3s, padding-bottom 0.3s;
    }

        #mainNav .navbar-nav .nav-item .nav-link {
            padding: 32px 20px !important;
        }

        #mainNav.navbar-shrink {
            padding-top: 0;
            padding-bottom: 0;
        }
}

.masthead {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 50%;
    background-size: cover;
}

header.masthead {
    min-height: 100vh;
    display: flex;
    text-align: center;
    color: #fff;
}

    header.masthead .intro-text {
        margin: 32px 0;
    }

header.masthead > .header-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-content .d-flex {
    flex: 1;
    justify-content: center;
}

.header-content .logo {
    font-size: 52px;
    border: 3px solid #fff;
    font-weight: 700;
    padding-right: 8px;
    letter-spacing: 4px;
    padding-left: 12px;
    margin-bottom: 62px;
    line-height: 68px;
    display: inline-block;
}

@media (min-width: 768px) {
    .intro-text .intro-heading {
        font-size: 58px;
        font-weight: 700;
        line-height: 72px;
        margin-bottom: 44px;
        letter-spacing: 4px;
        font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
    }
}

#mainNav .navbar-brand {
    font-size: 30px;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 600;
    padding-right: 6px;
    letter-spacing: 2px;
    padding-left: 8px;
    line-height: 26px;
    display: inline-block;
}

.btn-purchase {
    font-size: 14px;
    height: 48px;
    width: 170px;
    border-radius: 0;
    padding: 0;
    letter-spacing: 0.5px;
}

.line-stars {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

    .line-stars i {
        color: var(--primary);
        font-size: 16px;
        margin: 0 2px;
    }

    .line-stars::before,
    .line-stars::after {
        content: "";
        width: 100%;
        background-color: #eee;
        padding-top: 1px;
        margin-left: 12px;
    }

    .line-stars::before {
        margin-right: 12px;
        margin-left: 0;
    }

.feature-content,
.team-members,
.boxs {
    padding-top: 48px;
}

.cricle-stack {
    height: 64px;
    width: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border-radius: 50%;
    font-size: 32px;
    margin-bottom: 44px;
}

section h4.section-heading {
    margin-bottom: 12px;
}

    section h4.section-heading a {
        font-size: 16px;
        color: var(--gray-dark);
    }

        section h4.section-heading a:hover {
            color: var(--primary);
            text-decoration: none;
        }

.feature-content .text-muted {
    font-size: 14px;
    line-height: 28px;
}

#chooseUs h2.section-heading {
    margin-bottom: 24px;
}

#chooseUs .line-icon {
    font-size: 14px;
    margin-bottom: 12px;
    display: block;
    color: var(--gray-dark);
}

    #chooseUs .line-icon:hover {
        text-decoration: none;
        color: var(--primary);
    }

    #chooseUs .line-icon i {
        height: 17px;
        border: 1px solid var(--primary);
        border-radius: 50%;
        font-size: 9px;
        width: 17px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: var(--primary);
        margin-right: 6px;
    }

#counter {
    padding: 48px 0;
}

    #counter .box-counter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.box-counter i {
    font-size: 48px;
    color: var(--primary);
}

.box-counter span {
    font-weight: 700;
    font-size: 44px;
    opacity: 0.9;
}

.box-counter .target {
    font-size: 14px;
}

#callAction,
#follows .masthead {
    color: #fff;
    text-align: center;
    padding: 140px 0;
}

    #callAction .intro-text .intro-heading {
        font-size: 52px;
        margin-bottom: 28px;
    }

    #callAction .btn-purchase {
        margin: 0 12px;
    }

section#faq {
    padding: 60px 0;
}

#faq .faq-box.card {
    border-radius: 0;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

    #faq .faq-box.card > .card-header {
        background: var(--primary);
        color: #fff;
        font-weight: bold;
        padding: 16px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.3s ease;
    }

    #faq .faq-box.card > .collapsed.card-header {
        background: #fff;
        color: var(--gray-dark);
    }

        #faq .faq-box.card > .collapsed.card-header:after {
            content: "\f067";
            color: var(--primary);
        }

    #faq .faq-box.card > .card-header:after {
        content: "\f068";
        display: inline-block;
        font-size: 10px;
        font-weight: 400;
        font-family: FontAwesome;
        color: #fff;
    }

    #faq .faq-box.card .card-body {
        display: flex;
        padding: 24px 20px;
    }

        #faq .faq-box.card .card-body img {
            object-fit: cover;
            width: 35%;
            margin-right: 20px;
            max-height: 140px;
            flex: 1;
        }

        #faq .faq-box.card .card-body span {
            font-size: 14px;
            line-height: 26px;
        }

#faq .box-progress {
    margin-bottom: 36px;
}

    #faq .box-progress label {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 16px;
    }

    #faq .box-progress .progress {
        height: 6px;
        border-radius: 0;
        overflow: visible;
    }

    #faq .box-progress .progress-bar {
        position: relative;
        overflow: visible;
    }

        #faq .box-progress .progress-bar span {
            position: absolute;
            top: -32px;
            right: -18px;
            width: 40px;
            font-size: 12px;
            display: inline-block;
            padding: 2px 6px;
            background-color: var(--dark);
        }

            #faq .box-progress .progress-bar span::after {
                content: "";
                position: absolute;
                top: 20px;
                left: 14px;
                border-style: solid;
                border-width: 6px 6px 0 6px;
                border-color: var(--gray-dark) transparent transparent transparent;
            }

.slick-dots {
    display: flex;
    justify-content: center;
    padding-inline-start: 0;
    list-style-type: none;
}

#follows .slick-dots {
    bottom: 100px;
    left: 0;
    position: absolute;
    right: 0;
}

.slick-dots li button {
    color: transparent;
    background: transparent;
    border: none;
    outline: none;
    width: 0;
    height: 0;
    margin: 4px;
}

    .slick-dots li button::before {
        content: "";
        height: 12px;
        width: 12px;
        display: inline-block;
        border-radius: 50%;
        border: 1px solid rgb(220, 220, 220);
    }

.slick-dots li.slick-active button::before {
    background-color: rgb(220, 220, 220);
}

#follows .slick-slide img {
    margin-bottom: 40px;
    height: 100px;
    width: auto;
    display: inline-block;
}

#follows .slick-slide .intro-lead-in {
    padding: 0 10%;
}

@media (max-width: 768px) {
    .team-members > div,
    .feature-content > div,
    .box-counter,
    #chooseUs .col-lg-5,
    .accordion,
    #brands a img {
        margin-bottom: 32px;
    }

    #chooseUs .col-lg-5 {
        text-align: center;
    }
}

#team .team-members img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 32px;
}

#team .team-members h5 {
    font-size: 18px;
    margin-bottom: 8px;
}

#team .team-members p {
    color: var(--primary);
    font-style: italic;
    font-size: 14px;
    margin-bottom: 32px;
}

ul.social-buttons li a {
    height: 28px;
    width: 28px;
    line-height: 28px;
    background-color: #ccc;
    font-size: 14px;
    text-align: center;
}

    ul.social-buttons li a:hover {
        background-color: var(--primary);
    }

#brands a img {
    opacity: 0.6;
    transition: 0.3s ease;
}

#brands a:hover img {
    opacity: 1;
}

#testimonials h6 {
    font-size: 14px;
    margin-bottom: 4px;
}

.boxs .review {
    border: 1px solid #ddd;
    padding: 24px;
    font-size: 14px;
    line-height: 28px;
    position: relative;
}

    .boxs .review::after,
    .boxs .review::before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 16px 14px 0 0;
        border-color: #fcfcfc transparent transparent transparent;
        bottom: -15px;
        position: absolute;
        right: 40px;
    }

    .boxs .review::before {
        border-color: #ddd transparent transparent transparent;
        bottom: -18px;
        right: 39px;
        border-width: 18px 16px 0 0;
    }

#testimonials h6 {
    font-size: 14px;
    margin-bottom: 2px;
}

.boxs .review-box {
    padding: 0 15px;
}

.boxs .review p {
    font-size: 14px;
    line-height: 28px;
    margin-top: 8px;
}

.user-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
    margin-right: 28px;
}

    .user-review p {
        font-size: 14px;
        margin-bottom: 0;
    }

    .user-review > div {
        flex: 1;
        margin-right: 12px;
    }

    .user-review img {
        height: 64px;
        width: 64px;
        border: 1px solid #ddd;
        border-radius: 50%;
        padding: 2px;
        object-fit: cover;
    }

#testimonials .slick-dots {
    width: 100%;
    margin-top: 36px;
    margin-bottom: 0;
}

footer.bg-dark {
    font-size: 14px;
}

footer h5 {
    height: 44px;
    margin-bottom: 42px;
    display: flex;
    color:white;
    align-items: center;
}

footer .info p {
    margin-bottom: 4px;
    color: white;
}

footer .menu a,
footer .blog a {
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

    footer .menu a::before {
        content: "\f054";
        color: var(--primary);
        margin-right: 8px;
        font-family: FontAwesome;
        font-size: 8px;
    }

    footer .menu a:hover,
    footer .blog a:hover {
        color: var(--primary);
        text-decoration: none;
    }

footer .blog span {
    color: #666;
}

footer hr {
    border-color: var(--gray-dark);
    margin: 20px 0;
}

footer .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 8px;
}

    footer .gallery img {
        object-fit: cover;
        width: 100%;
        height: 70px;
    }

.footer-copyright {
    background-color: #000;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

    .footer-copyright ul.social-buttons li a {
        color: #000;
    }

    /*.footer-copyright .fa{
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }*/
    footer h5 img {
        height: 70px;
        width: 100%;
        object-fit: cover;
    }

