@{
    ViewBag.Title = "About";
}
<!DOCTYPE html>
<html>
<head>
    <title>Hue Travel</title>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-reboot.min.css.map">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome-all.css">
</head>
<body>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</body>
</html>