@model List<travel.Models.Post>

@{
    ViewBag.Title = "Ẩm thực xứ Huế";
    var posts = Model; // Posts là danh sách 12 foods mới nhất
}

<div>
    @* Code UI logic *@
    Demo dữ liệu @posts.Count
</div>