@model List<travel.Models.Post>

@{
    ViewBag.Title = "Ẩm thực xứ Huế";
    var posts = Model; // Posts là danh sách 12 foods mới nhất
}



<section class="banner mb-5">
    <div class="site_title position-absolute">
        <h1>Ẩm thực xứ Huế</h1>
        <p>Những món ăn gây thương nhớ</p>
    </div>
    <div class="black-cover"></div>

    <img src="~/Content/images/che.jpg" alt="Alternate Text" class="w-100 img-fluid object-fit-cover shadow" />
</section>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 pr-4">
            @Html.Action("RelatedPosts", "Posts")
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="row">
                @foreach (var item in posts)
                {
                    <div class="card-post shadow card mr-3 mb-3">
                        <a href="/Posts/Details/@item.Id"><img class="img-fluid object-fit-cover m-2" src="@item.Image" alt="Card image cap"></a>
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <a href="/Posts/Details/@item.Id" class="content-item">Khám phá</a>
                        </div>
                    </div>
                   
                }

            </div>
        </div>
    </div>
</div>