@model List<travel.Models.Post>

@{
    ViewBag.Title = "Địa điểm du lịch";
    var posts = Model; // Posts là danh sách 12 places mới nhất
}

<section class="banner mb-5">
    <div class="site_title position-absolute">
        <h1>Đi chính là để tiến hóa</h1>
        <p>Du lịch – ban đầu nó khiến bạn không thốt nên lời, và sau đó biến bạn trở thành một người kể chuyện.</p>
    </div>
    <div class="black-cover"></div>

    <img src="~/Content/images/hue3.jpg" alt="Alternate Text" class="w-100 img-fluid object-fit-cover shadow" />
</section>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            @Html.Action("RelatedPosts", "Posts")
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div>
                <img src="~/Content/images/.jpg" alt="Alternate Text" />
            </div>
            @*<div>
                    <h2>Ẩm thực xứ Huế</h2>
                    <h4>Những món ăn gây thương nhớ</h4>
                </div>
                <hr />*@
            <div class="row">
                @foreach (var item in posts)
                {
                    <div class="card-post shadow card">
                        <img class="img-fluid object-fit-cover m-2" src="@item.Image" alt="Card image cap">
                        <div class="card-body">
                            <h6 class="card-title">@item.Title</h6>

                            <a href="/Posts/Details/@item.Id" class="btn btn-block btn-primary">Chi tiết bài viết</a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>