@model travel.Models.PostPartialModelView

@{
    var foods = Model.Foods;
    var places = Model.Places;
}

<div>
   Đây là partial view - left sidebar
    có @foods.Count foods và @places.Count
    @* pokie chưa? phần này tự style lại giống cái leftlayout của e là đc, em đọc nhầm :D oki anh*@
    @* a ví dụ cho cái footer mà xem BÊ dễ như nào *@
</div>