
@{
    ViewBag.Title = "PostPlace";
}

<body class="post">
    <section class="banner-item mb-5">
        <div class="site_title position-absolute">
            <h1 class="text-center">Đại Nội Huế</h1>
            <h6>@Html.ActionLink("HOME", "Index", "Home")</h6>
        </div>
        <div class="black-cover"></div>
        <img src="/Content/images/daiNoi.jpg" alt="Alternate Text" class="w-100 img-fluid object-fit-cover" />
    </section>
    <section class="content">

    </section>

</body>
