
<style>
/*Vứt mấy thằng scroll-to-top ở mấy trang kia đi, sidebar là đủ rồi*/
    .scroll-to-top{
        z-index: 99
    }
</style>
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Admin/Index">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Trang Chủ</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/Admin/Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>BẢNG THỐNG KÊ</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <!-- Nav Item - Pages Collapse Menu -->
    <!-- Heading -->
    <div class="sidebar-heading">
        Quản lý
    </div>


    <li class="nav-item">
        <a class="nav-link" href="/Admin/user">
            <i class="fas fa-fw fa-user"></i>
            <span>Danh sách người dùng</span>
        </a>
     
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <div class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePost" aria-expanded="true" aria-controls="collapsePost">
            <i class="far fa-fw fa-newspaper"></i>
            <span>Bài viết</span>
        </div>
        <div id="collapsePost" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/Admin/Post">Danh sách bài viết</a>
                <a class="collapse-item" href="/Admin/CreatePost">Tạo mới bài viết</a>
                <a class="collapse-item" href="/Admin/CategoryPost">Thể loại</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTour" aria-expanded="true" aria-controls="collapseTour">
            <i class="fas fa-fw fa-plane"></i>
            <span>Tour du lịch</span>
        </div>
        <div id="collapseTour" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/Admin/Tour">Danh sách Tour</a>
                <a class="collapse-item" href="/Admin/CreateTour">Tạo mới Tour</a>
                <a class="collapse-item" href="/Admin/CategoryTour">Thể loại</a>

            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
        <a class="scroll-to-top rounded" href="#accordionSidebar">
            <i class="fas fa-angle-up"></i>
        </a>
</ul>
<!-- End of Sidebar -->
<script>
    //Cái ni tí về a viết script active navbar cho.
</script>